.a{
    height: 51vw;
    display: flex;
    align-items: center;
    background-color: rgb(218, 248, 248);
}

.a-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    background-color: rgb(218, 248, 248);
}

.a-right{
    flex: 1;
    overflow: hidden;
}

.a-card{
    height: 500px;
    width: 28vw;
    border-radius: 30px;
    position: absolute;
    top: 50px;
    color: #094557;
}
.a-title{
    color: #094557;
}

.a-Arrival{
    width: 25vw;
    height: 25vw;
    left: 0px;
    right: 0px;
    overflow: hidden;
}

.carousel-inner{
    height: 47vw;
}

.a-arrival1-9{
    right: 200px;
    width: 50%;
    height: 85vh;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    overflow: hidden;
}

.carousel-caption {
    font-size: 0.85vw;
    bottom: 0px;
    margin-bottom: -6.5%;
    color: black;
}

.carousel-indicators{
    margin-bottom: -2%;
    color: black;
}

.active{
    color: black;
}

.carousel-header{
    text-decoration: underline;
}

.a-github{
    height: 2vw;
    width: 2vw;
}

@media screen and (max-width:480px){
    .a{
      flex-direction: column;
      height: 280vw;
      width: 100%;
    }  

    .a-left{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 100%;
        background-color: rgb(218, 248, 248);
    }

    .a-card{
        height: 500px;
        width: 80vw;
        border-radius: 30px;
    }

    .a-github{
        width: 8vw;
        height: 8vw;
    }

    .a-right{
        flex: 1;
        margin-top: 40px;
        overflow: hidden;
    }

    .carousel.slide{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 100%;
    }

    .carousel-header{
        font-size: 14px;
    }

    .carousel-caption {
        width: 70%;
        bottom: 0px;
        font-size: 10px;
        margin-bottom: -16%;
        color: black;
    
    }

    .carousel-inner{
        height: 100vw;
    }
    
  }