.b{
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: rgb(218, 248, 248);
}

.b-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    background-color: rgb(218, 248, 248);
}

.b-right{
    flex: 1;
    overflow: hidden;
}

.b-card{
    height: 500px;
    width: 28vw;
    border-radius: 30px;
    position: absolute;
    top: 50px;
    color: #094557;
}
.b-title{
    color: #094557;
}

.b-BugTracker{
    width: 20vw;
    height: 20vw;
    left: 0px;
    right: 0px;
    overflow: hidden;
}

.active{
    color: black;
}


.github{
    height: 2vw;
    width: 2vw;
}

@media screen and (max-width:480px){
    .b{
      flex-direction: column;
      width: 100%;
      height: 180vw;
    }  

    .b-left{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 100%;
        background-color: rgb(218, 248, 248);
    }

    .b-card{
        height: 500px;
        width: 80vw;
        border-radius: 30px;
    }

    .b-right{
        flex: 1;
        height: 2vw;
        overflow: hidden;
    }
  }