.p{
    width: 30%;
    height: 29vh;
    margin: 20px 150px;
    border: 2px solid green;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}

.p-browser{
    height: 20px;
    background-color: green;
    display: flex;
    align-items: center;
}

.p-circle{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 3px;
    background-color: white;

}

.p-img{
    width: 100%;
}

@media screen and (max-width:480px) {
    .p{
        width: 100%;
        height: 10vh;
    }
    
}