.c{
    height: 10vw;
    position: relative;
    text-align: center;
    background-color: rgb(218, 248, 248);
}

.c-icon{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.c-desc{
    font-weight: bold;
    font-size: 20px;
    color: #094557;
}


button{
    border: none;
    padding: 15px;
    background-color: 052db3;
    color: #094557;
    font-weight: 500;
    cursor: pointer;
}

@media screen and (max-width:480px){
    .c-wrapper{
      flex-direction: column;
    }
  }